.venv
.env
.env.*
literature/
literature_review/
project_status_reports/
proposal/
useful_links/
IU_APA_style_guides/
python/EDA_20260209.ipynb
data/data_gov_de/building
data/data_gov_de/buildings

data/data_gov_de/cemeteries/cemeteries.url
data/data_gov_de/cemeteries/friedhoefe.csv
data/data_gov_de/cemeteries/friedhoefe.kml
data/data_gov_de/cemeteries/friedhoefe.xlsx
data/data_gov_de/cemeteries/friedhofe.jsonld

data/data_gov_de/city_floor_map_2005
data/data_gov_de/concept_floor_plan_2018
data/data_gov_de/corridors
data/data_gov_de/digital road map 1250,000 - DSK250 MV
data/data_gov_de/geographical_names
data/data_gov_de/high_groundwater_level
data/data_gov_de/municipal_area
data/data_gov_de/parcels_of_land

data/data_gov_de/parks/parkanlagen.csv
data/data_gov_de/parks/parkanlagen.jsonld
data/data_gov_de/parks/parkanlagen.kml
data/data_gov_de/parks/parkanlagen.xlsx
data/data_gov_de/parks/parks.url

data/data_gov_de/playgrounds
data/data_gov_de/population_structure_2024
data/data_gov_de/rivers
data/data_gov_de/statistical_blocks
data/data_gov_de/statistical_districts
data/data_gov_de/streets
data/data_gov_de/urban_areas
data/copernicus_eu/CLMS_HRLVLCC_TCD_S2023_R10m_E44N34_03035_V01_R00/CLMS_HRLVLCC_TCD_R10.clr
data/copernicus_eu/CLMS_HRLVLCC_TCD_S2023_R10m_E44N34_03035_V01_R00/CLMS_HRLVLCC_TCD_R10.lyr
data/copernicus_eu/CLMS_HRLVLCC_TCD_S2023_R10m_E44N34_03035_V01_R00/CLMS_HRLVLCC_TCD_R10.qml
data/copernicus_eu/CLMS_HRLVLCC_TCD_S2023_R10m_E44N34_03035_V01_R00/CLMS_HRLVLCC_TCD_R10.sld
data/copernicus_eu/CLMS_HRLVLCC_TCD_S2023_R10m_E44N34_03035_V01_R00/CLMS_HRLVLCC_TCD_S2023_R10m_E44N34_03035_V01_R00_super_overlay.kmz
data/copernicus_eu/CLMS_HRLVLCC_TCD_S2023_R10m_E44N34_03035_V01_R00/CLMS_HRLVLCC_TCD_S2023_R10m_E44N34_03035_V01_R00.tif.aux.xml
data/copernicus_eu/CLMS_HRLVLCC_TCD_S2023_R10m_E44N34_03035_V01_R00/CLMS_HRLVLCC_TCD_S2023_R10m_E44N34_03035_V01_R00.xml
data/data_gov_de/trees/baeume.kml
data/data_gov_de/trees/baeume.xlsx